.accordion {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

/* Style the trigger */
.accordion-trigger {
	width: 100%;
	border-radius: 0.25em;
	border: 1px solid var(--border-color-light);
	background: var(--white);
	padding: 0.8em;

	display: flex;
	align-items: center;
	gap: 0.5em;

	cursor: pointer;
}

.accordion-title {
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 500;
}

.required-symbol {
	color: var(--secondary);
	font-size: 1.2rem;
	font-style: italic;
	align-self: last baseline;
	margin-bottom: 1px;
}

.accordion-title,
.accordion-trigger .icon {
	color: var(--primary);
}

.accordion-item.open .accordion-trigger {
	border-radius: 0.25em 0.25em 0 0;
}

.accordion-state-icon {
	margin-left: auto;
	transition: transform 250ms ease;
	transform-origin: center;
}

.accordion-item.open .accordion-state-icon {
	transform: scaleY(-1);
}

/* Style the content */
.accordion-content {
	overflow: hidden;
	background-color: var(--white);
	border-radius: 0 0 0.25em 0.25em;
	transform-origin: top;
	max-height: 0;
	margin-top: -0.25em;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

.accordion-content.open {
	overflow: visible;
	max-height: 1000px;
	padding: 1em;
	border: 1px solid var(--border-color-light);
	/* border-top: none; */
	animation: expand 250ms ease-in-out forwards;
}

.accordion-content .button.add-button {
	align-self: end;
	width: 50%;
	padding: 0.6em 1.2em;
	border-radius: 0.4em;
	background-color: var(--white);
	border: 1px solid var(--green);
	color: var(--green);
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	will-change: color, background-color;
	transition: color 250ms ease, background-color 250ms ease;

	cursor: pointer;
}

.accordion-content .button.add-button:hover,
.accordion-content .button.add-button:active {
	color: var(--white);
	background-color: var(--green);
}

@keyframes expand {
	from {
		max-height: 0;
	}
	to {
		max-height: 1000px;
	}
}
