:root {
	--primary: hsl(190, 100%, 25%);
	--blue: hsl(190, 100%, 36%);
	--green: hsl(100deg, 100%, 35%);
	--red: hsl(0deg, 90%, 48%);
	--secondary: hsl(0deg 0% 30%);
	--main-bgc: hsl(0deg 0% 97%);
	--white: hsl(0deg 0% 100%);
	--black: hsl(0deg 0% 2.5%);
	--border-color: hsl(0deg 0% 50%);
	--border-color-light: hsl(216deg 10% 85%);
	--outline-color: hsl(0, 0%, 55%);
	--accent-color: hsl(215deg, 15%, 25%);
	--accent-color: hsl(100deg, 100%, 35%);
	--resume-bg: hsl(210deg 25% 15% / 0.75);
	--divider-light: hsl(0deg 0% 100% / 0.5);
	--divider-dark: hsl(0deg 0% 0% / 0.5);

	--resume-primary: hsl(210deg 10% 30%);

	--small-shadow: hsl(0deg 0% 0% / 0.25);
	--medium-shadow: hsl(0deg 0% 0% / 0.15);
	--large-shadow: hsl(0deg 0% 0% / 0.1);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	font-size: 1.6rem;
	color: black;
	color: var(--black);
}

input,
textarea,
progress {
	accent-color: var(--accent-color);
}

/* Form controls focus style */
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
progress:focus-visible,
select:focus-visible,
.fileLabel:focus-visible {
	outline: 2px solid var(--outline-color);
	outline-offset: 2px;
}

/* Form controls unfocus style */
a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
select:focus:not(:focus-visible),
progress:focus:not(:focus-visible) {
	outline: none;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-bgc);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
}

.btn {
	padding: 0.6em 1.2em;
	border-radius: 0.4em;
	outline: none;

	font-weight: 500;
	text-transform: uppercase;
	will-change: color, background-color;
	transition: color 250ms ease, background-color 250ms ease;

	cursor: pointer;
}
