.factory {
	width: 100%;
	height: calc(100vh - 56px);
	overflow: hidden;

	display: flex;

	/* padding: 1.5em; */
}

.main {
	height: 100%;
	overflow-y: scroll;
	padding: 1.5em;
	flex: 2;

	display: flex;
	flex-direction: column;
	gap: 2em;
}

.factory .button-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.factory .btn {
	width: 50%;
	background-color: var(--white);
	border: 1px solid var(--green);
	color: var(--green);
	font-size: 1.4rem;

	cursor: pointer;
}

.factory .btn:hover,
.factory .btn:active {
	color: var(--white);
	background-color: var(--green);
}

.complete--btn {
	display: none;
}

/* Style aside */
.aside {
	display: none;
}

.resume-wrapper {
	height: 100%;
	width: auto;
	aspect-ratio: 210 / 297;
	padding: 0.3em;
}

@media screen and (min-width: 896px) {
	.preview--btn {
		display: none;
	}
	.complete--btn {
		display: block;
	}

	.aside {
		flex: 3;
		display: flex;
		align-items: center;
		justify-content: center;

		height: calc(100vh - 56px);

		color: var(--white);
		background-color: var(--resume-bg);
		font-size: 4rem;
	}
}
