.data-display {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.data-group {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid var(--border-color-light);
	border-radius: 4px;
}

.data-display .data {
	display: flex;
	flex-direction: column;
	gap: 4px;

	color: var(--secondary);
}

.data-display .data h3 {
	color: var(--black);
}

.data-display .button {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	color: var(--primary);
	cursor: pointer;
	font-weight: 500;
}

.data-display .icon {
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
}

.data-display .button.delete-button {
	font-weight: 400;
	margin-top: 4px;
}

.item-title {
	font-weight: 500;
}

.item-content {
	display: flex;
	flex-direction: column;
}

.item-content.skill {
	display: inline-block;
}
