/* form */

form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	font-size: 1.6rem;
}

.formRow {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.formRow:last-of-type {
	flex-direction: row;
	align-items: center;
	justify-content: end;
	gap: 20px;
}

/* @media screen and (min-width: 896px) {
	.formRow:last-of-type {
		justify-content: end;
	}
	.formRow:last-of-type button {
		width: auto;
	}
} */
