.field-star {
	color: var(--red);
}

input {
	font-size: 1.6rem;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid var(--border-color-light);
}

/* Client-side validation */
input.valid,
textarea.valid {
	border-color: var(--green);
}

input.invalid,
textarea.invalid {
	border-color: var(--red);
}

textarea {
	border: 1px solid var(--border-color-light);
	padding: 8px 12px;
	min-height: 100px;
	resize: vertical;
}

/* Style required label */
.formRow .required {
	font-size: 1.4rem;
	color: var(--secondary);
}

/* Style button */
form button {
	padding: 8px 12px;
	max-width: 450px;
	width: 100%;
	background-color: transparent;
	border: 1px solid var(--green);
	border-radius: 4px;
	color: var(--green);
	font-weight: 500;
	/* font-size: 1.8rem; */
	cursor: pointer;

	transition: color 250ms ease, background-color 250ms ease;
}

form button:hover {
	background-color: var(--green);
	color: var(--white);
}

/* Style file input */
input[type='file'] {
	display: none;
}

.file-label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 12px;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid var(--border-color-light);
	border-radius: 4px;
	background-color: transparent;
	color: var(--black);
}

.file-label:focus-visible {
	outline: 2px solid var(--outline-color);
	outline-offset: 2px;
}

.file-label:focus:not(:focus-visible) {
	outline: none;
}

.file-button {
	font-size: 1.6rem;
	font-weight: 500;
}

.file-name {
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--secondary);
}

/* Style form error messages */

.error-message {
	color: var(--red);
	font-size: 1.4rem;
}

/* Style form hint messages */
.form-hint {
	font-size: 1.4rem;
	color: var(--secondary);
}
