.landing-page {
	width: 100%;
	max-width: 1024px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 2em;

	flex: 1;
	position: relative;

	padding: 2em;
}

.example {
	flex: 1;
	height: auto;
	overflow: hidden;
	box-shadow: 2px 2px 4px var(--medium-shadow);

	z-index: 1;
}

@media screen and (min-width: 896px) {
	.landing-page {
		flex-direction: row;
		gap: 6em;
		padding: 0 3.5em;
	}

	.example {
		flex: auto;
		max-width: 260px;
	}
}
